*{
    margin: 0;
}
div span {
    color:hotpink;
    position: absolute;
    left:0;
    top:0;
/*    margin-left:-100px;  /* NOT GOOD!!!!!!*/
}
#andradivven{
    position: relative;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
#container div{
    width:50vw;
}
